@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/static/Montserrat-Thin.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/static/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: bold;
}

body {
  overflow-x: hidden;
  color: #fff;
}

h1,
h2,
h4 {
  font-family: 'Montserrat', sans-serif;
}

p,
li {
  font-family: 'Montserrat';
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d1117;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid #30363d;
}

.brand {
  margin-left: 5%;
}

.brand span {
  color: #0ff;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;
  padding: 2em;
  position: relative;
  cursor: pointer;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu .active {
  color: #0ff;
}

.menu li:hover .actived {
  display: block;
  scale: 1;
}

.actived {
  background-color: #0ff;
  min-height: 12px;
  transition: all 0.7s;
  scale: 0;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

#toggle-menu {
  display: none;
}

#home {
  max-width: 80vw;
  min-height: 100vh;
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  padding: 83.2px 0;
  display: flex;
  align-items: center;
}

#info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  color: #0ff;
}

#download-cv {
  padding: 10px 20px;
  background-color: #0ff;
  color: #000;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
  text-decoration: none;
  font-size: 1rem;
}

#download-cv:hover {
  background-color: #fff;
  box-shadow: none;
}

.divider {
  height: 4px;
  width: 100%;
  background-color: #0ff;
  margin-top: 5px;
}

#portfolio {
  background-color: #161b22;
  min-height: 100vh;
}

.headings {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5%;
}

.headings h2 {
  font-size: 2em;
}

#portfolio-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 550px;
  background-color: #161b22;
  margin: 1em;
  border-radius: 10px;
  border: 1px solid #30363d;
}

.card__img,
.double-card__img {
  width: 90%;
  height: 350px;
  margin: auto;
  padding-top: 5%;
}

.card__tittle,
.double-card__tittle {
  padding: 5%;
  text-align: center;
}

.card__projects-links,
.double-card__projects-links {
  display: flex;
  justify-content: space-evenly;
}

.card__projects-links a,
.double-card__projects-links a {
  color: #fff;
  text-decoration: none;
}

.card__projects-links i,
.double-card__projects-links i {
  font-size: 1.5em;
}

.double-card {
  width: 630px;
  height: 550px;
  background-color: #161b22;
  margin: 1em;
  border-radius: 10px;
  border: 1px solid #30363d;
}

/* Skills */
#skills {
  width: 100vw;
  min-height: 100vh;
  background-color: #0d1117;
  color: #fff;
}

#skills .headings {
  padding-bottom: 2%;
}

#skills #skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  padding: 2%;
  width: 100%;
}

#skills-content div {
  width: 80%;
  margin: auto;
}

#express-container {
  background-color: #fff;
  border-radius: 50%;
}

#mysql-container {
  background-color: #fff;
  border-radius: 10%;
}

#js-container {
  background-color: #161b22;
}

#contact {
  background-color: #161b22;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-content {
  padding: 3%;
}

#form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

#form input {
  padding: 10px 20px;
  margin-bottom: 2em;
  border: none;
  border-radius: 20px;
  background: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}

#form textarea {
  height: 150px;
  background: none;
  color: #fff;
  padding: 1.5em;
  border: 1px solid #fff;
}

.btn-submit {
  padding: 10px 20px;
  margin: 1em;
  text-transform: uppercase;
  background-color: #0ff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.btn-submit:hover {
  background-color: #fff;
  box-shadow: none;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background-color: #0ff;
  text-align: center;
}

#sotial-networks i {
  font-size: 1.5em;
}

#sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-color: #0d1117;
}

@media screen and (max-width: 800px) {
  .menu {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #161b22;
    z-index: 10;
    transform: translateX(-110%);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border-right: 1px solid #30363d;
  }

  .show-menu {
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

  .menu li {
    margin: 2em;
  }

  #toggle-menu {
    display: block;
  }

  .navbar {
    padding: 27px;
  }

  .fa-bars {
    font-size: 1.5em;
    margin-top: -0.2em;
  }

  #toggle-close {
    font-size: 1.5em;
    display: none;
  }

  #skills-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 5%;
  }

  #form {
    width: 80vw;
  }
}

/* SCROLL REVEAL */
html.sr .load-hidden,
.skills-reveal,
.cards-reveal {
  visibility: hidden;
}
